In [7]:
import pandas as pd

df = pd.DataFrame({'Application number': [1,1,1,1,1,1,2,2,2,2,2,3,3,3],
        'Applicant': ['John Johnson','John Johnson','John Johnson','John Johnson','John Johnson','John Johnson','Ryan Rosling','Ryan Rosling','Ryan Rosling','Ryan Rosling','Ryan Rosling','Gee Gettysbeurg','Gee Gettysbeurg','Gee Gettysbeurg'],
        'Gender': ['m','m','m','m','m','m','m','m','m','m','m','v','v','v'],'Title':['Symplectic symmetry','Symplectic symmetry','Symplectic symmetry','Symplectic symmetry','Symplectic symmetry','Symplectic symmetry', 'Exploring protein synthesis', 'Exploring protein synthesis', 'Exploring protein synthesis', 'Exploring protein synthesis', 'Exploring protein synthesis', 'auxin-response pathway','auxin-response pathway','auxin-response pathway' ], 'Keyword':['Maths', 'trignometry', 'Analysis', 'Algebra', 'Hypothesis', 'DNA', 'mitochondria', 'RNA', 'Brain', 'Cellstructure', 'Life', 'Blood', 'analysis', 'blood circulation']  })
df.head()

   Application number     Applicant Gender                Title      Keyword
0                   1  John Johnson      m  Symplectic symmetry        Maths
1                   1  John Johnson      m  Symplectic symmetry  trignometry
2                   1  John Johnson      m  Symplectic symmetry     Analysis
3                   1  John Johnson      m  Symplectic symmetry      Algebra
4                   1  John Johnson      m  Symplectic symmetry   Hypothesis

In [8]:
#Reorienting the table to make keywords appear in rows
df_pv2 = df.groupby(
    ['Application number', 'Applicant', 'Gender', 'Title'],
)['Keyword'].agg(', '.join).reset_index(name='Keywords')

In [9]:
df_pv2.head()

,Application number,Applicant,Gender,Title,Keywords
0,1,John Johnson,m,Symplectic symmetry,"Maths, trignometry, Analysis, Algebra, Hypothe..."
1,2,Ryan Rosling,m,Exploring protein synthesis,"mitochondria, RNA, Brain, Cellstructure, Life"
2,3,Gee Gettysbeurg,v,auxin-response pathway,"Blood, analysis, blood circulation"